<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/form.css">



</head>
<body style="background-color: #ecedee">
	<!-- <navbar start> -->
	<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >


  <a class="navbar-brand" href="#" style="font-family: 'Berkshire Swash', cursive;font-size: 30px">Coursify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="landingpage.php">Live Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about_us.php">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tutors.php">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="applyastutor.php">Exam</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.php">Contact Us</a>
      </li>

    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <a href="login"><button  type="button"     class="btn btn-outline-dark my-2 my-sm-0">Login</button></a>-->

<!--      <button  type="button" class="btn btn-outline-dark my-2 my-sm-0">Book a free class  !!</button>-->
<!--    </form>-->
  </div>

</nav>
</div>
 <!-- navbar close -->

	<br>
	<br>
	<br>
	<center>
		<br>

		<div class=" col-lg-4 back p-4 shadow-lg p-3 mb-5 rounded mt-5" >
			<h2 class="text-center mb-4 text-dark">Welcome to Coursity</h2>
			<form class="form-container" action="form" method="post">{% csrf_token %}

				<div class="form-group">
                    <select name="grade"  class="form-control no animated-label">
                        <option>Select your Grade</option>
                        <option value="KG">KG</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
				</div>
                    <div class="form-group">
                        <select name="choice" class="form-control no animated-label">
                            <option>Do you have pc or laptop</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                <div class="form-group">
                    <select name="shift" class="form-control no animated-label">
                        <option>Select Preferred Shift</option>
                        <option value="Morning">Morning</option>
                        <option value="Evening">Evening</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div>
                    <input type="time" placeholder="Time" name="time" class="form-control no animated-label">
                </div>
                <div class="form-group">
					<input type="text" class="form-control no animated-label" id="first" placeholder="Parent Name" required name="a">
				</div>
                <div class="form-group">
					<input type="text" class="form-control no animated-label" id="second" placeholder="Student Name" required name="b">
				</div>
                <div class="form-group">
					<input type="text" class="form-control no animated-label" id="third" placeholder="Parent phone number" required name="c">
				</div>
                <div class="form-group">
					<input type="email" class="form-control no animated-label" id="fourth" placeholder="Email ID" required name="d">
				</div>






<!--				<div class="form-group mt-4">-->

<!--					<input type="password" class="form-control no animated-label" placeholder="Password" required name="password">-->

<!--				</div>-->
				<!-- <div class="custom-control form-control-lg custom-checkbox float-left mt-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label text-dark text-sm-left" for="customCheck1" style="font-size: 15px;">Remember Me</label>
                </div> -->
<!--				<p class="text-md-left font-weight-normal "><a href="register_stu.php" class="text-dark text-decoration-none ml-3">New User?</a></p>-->
<!--				<p class="text-md-right font-weight-normal "><a href="up_pass_stu.php" class="text-dark text-decoration-none">Forgot Password?</a></p>-->


				<!-- <p class="text-md-right font-weight-normal "><a href="up_pass_stu.php" class="text-dark text-decoration-none">Forgot Password?</a></p> -->
				<input type="submit" value="Book class now" class="btn btn-dark btn-block mt-4 text-light font-weight-bold">
                <div class="form-group">
                    <br>
                    <p>Morning Timings: 8AM to 11AM</p>
                    <p>Evening Timings: 12PM to 3PM</p>
                    <p>Nigh Timings: 7PM to 9PM</p>
                    <a href="homepage" class="text-decoration-none text-dark" >Back to home page</a>
                </div>
                <div class="form-group"><p>{{row}}</p></div>
			</form>

		</div>
	</center>

	</body>
	</html>